<a href="https://colab.research.google.com/github/Leonardodarienzo/Python/blob/main/DARIENZO_LEONARDO_Esercizi_Python_base_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
x=10
y=20
z=30
print(x,y,z)
a=100
b=100
c=100
print(a,b,c)

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
a=int(input("inserisci un numero intero 1: "))
b=int(input("inserisci un numero intero 2: "))
print("I valori inseriti sono:", a, " e : ", b)
print("Adesso scambio i valori")
a,b=b,a
print("I valori scambiati sono a:", a, " e b: ", b)

2. far inserire all'utente due numeri e calcolare lìelevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
n1=int(input("scegliere il primo numero"))
n2=int(input("scegliere il secondo numero"))
n3=int(input("scegliere il terzo numero"))
if n1 > n2 and n1 > n3:
  print(n1,"è il massimo")
if n2 > n1 and n2 > n3:
  print(n2,"è il massimo")
if n3 > n1 and n3 > n2:
  print(n3,"è il massimo")

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
numero = int(input("scrivi un numero"))

if numero % 2 == 0:
    print ("pari")
else:
    print ("dispari")

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

8. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:
PI = 3.14
raggio = float(input('scrivi il raggio di un cerchio: '))
area = PI * raggio * raggio
diametro = 2 * raggio

print(" Area del cerchio = %.2f" %area)
print(" diametro del cerchio = %.2f" %diametro)

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
nome = (input ( "scrivi il tuo nome:"))
cognome = (input ( "scrivi il tuo cognome:"))
print(nome,"", cognome)

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
num=int(input("inserisci un numero:"))
modulo=abs(num)
print(modulo)

inserisci un numero:5
5

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi